.main_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button--primary {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #406dea;
  border: 1px solid #406dea;
  border-radius: 10rem;
  cursor: pointer;
}

.text--state {
  font-size: 1.125rem;
  text-align: center;
}

.data_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.data_list--item {
  padding: 1rem;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.data_list--item:hover {
  border: 1px solid #406dea;
}

.data_list--item h3 {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}

.data_list--item p {
  margin-bottom: 0;
  font-size: 0.875rem;
}

.data_list--item button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #406dea;
  background-color: #fff;
  border: 1px solid #406dea;
  border-radius: 10rem;
  cursor: pointer;
}

.data_list--item button:hover {
  color: #fff;
  background-color: #406dea;
}
